@use "./palette.scss"; // mixins
@mixin flex(
    $just-cont: space-between,
    $align-itm: center,
    $flx-dir: row,
    $text-align: center,
    $flex-wrap: nowrap
) {
    display: flex;
    justify-content: $just-cont;
    align-items: $align-itm;
    flex-direction: $flx-dir;
    text-align: $text-align;
    flex-wrap: $flex-wrap;
}

@mixin background-and-color($background, $color) {
    background-color: $background;
    color: $color;
}

@mixin text-style(
    $size,
    $weight,
    $height,
    $spacing: 0.02em,
    $transform: none,
    $decoration: none
) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $spacing;
    text-transform: $transform;
    text-decoration: $decoration;
}

@mixin padding-and-margin($padding, $margin) {
    padding: $padding;
    margin: $margin;
}

@mixin height-and-width($height, $width) {
    height: $height;
    width: $width;
}
