// typography
$navbar-font: Sackers Gothic Medium, Verdana, Helvetica, sans-serif;
$body-font: Source Sans Pro Light, Helvetica, Arial, sans-serif;
$heading-font: Source Sans Pro, Helvetica, Arial, sans-serif;

// colors
$black: #020204;
$light-blue: #ebeef9;
$blue: #2066a0;
$gray: #686a78;
$sky-blue: #53ccf7;
$background: #131521;
$form-background: #242637;
$linear-gradient1: #f3904f;
$linear-gradient2: #3b4371;
