* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  flex-wrap: nowrap;
  min-height: 100vh;
  background-color: #131521;
}

.morse-code {
  background-color: #242637;
  color: #ebeef9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: nowrap;
  border-radius: 30px;
  height: 600px;
  width: 600px;
}
.morse-code__heading {
  font-size: 41px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
}
.morse-code__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  text-align: center;
  flex-wrap: nowrap;
  margin: 30px 0px;
}
.morse-code__label {
  color: #53ccf7;
  font-family: Source Sans Pro Light, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
}
.morse-code__paragraph {
  font-family: Source Sans Pro Light, Helvetica, Arial, sans-serif;
  color: #686a78;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
}
.morse-code__button {
  border-radius: 10px;
  border: none;
  background-color: #2066a0;
  color: #53ccf7;
  padding: 10px 20px;
}

textarea {
  resize: none;
  font-family: Source Sans Pro Light, Helvetica, Arial, sans-serif;
}

.footer__link {
  font-family: Source Sans Pro Light, Helvetica, Arial, sans-serif;
}
